.data-items {
    animation: revealDown 1.8s forwards, blur 0.8s forwards;
    transtion: ease-in;
}


@keyframes revealDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes blur {
  from {
    filter: blur(0.3rem)
  }
  to {
    filter: blur(0)
  }
}